/*
index.css
Author: Clare Meyer
Lab: 03; Exercise: 05
style for index.html
 */

body {
  background-image: url("./image.jpg");
}

p {
  text-align: center;
  font-size: 70px;
  color: white;
}

/*positioning for the buttons that navigate through the different exercises*/
div.container {
  background: red;
  height: 100%;
  width: 90%;
  margin: auto;
}

/*styling for the buttons that navigate through the different exercises*/
button {
  width: 80%;
  height: 10%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 30px;
  background-color: blue;
  color: white;
}
